<body id="sample">
  <div class="textColumn">
    <h1>Hello Arlington Ruby</h1>
    <p>Your first AWS Elastic Beanstalk <strong>Ruby</strong> Application is now running on your own dedicated environment in the AWS Cloud</p>
    <h1>Congratulations</h1> 
  </div>
  
  <div class="linksColumn"> 
    <h2>What's Next?</h2>
    <ul>
    <li><a href="http://aws.amazon.com/code/AWS-Elastic-Beanstalk/6752709412171743">AWS Elastic Beanstalk Command Line Tool</a></li>  
    <li><a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/create_deploy_Ruby_rails.html">Deploy a Ruby on Rails Application to AWS Elastic Beanstalk</a></li> 
    <li><a href="http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.deployment.newapp.html">Creating New Applications AWS Management Console</a></li>  
    <li><a href="https://forums.aws.amazon.com/forum.jspa?forumID=125#">AWS Forum: Ruby Development</a></li> 
    <br/> 
    <li><a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/">AWS Elastic Beanstalk overview</a></li>
    <li><a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/index.html?concepts.html">AWS Elastic Beanstalk concepts</a></li>
    <li><a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/create_deploy_Ruby_sinatra.html">Deploy a Sinatra Application to AWS Elastic Beanstalk</a></li>
    <li><a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/create_deploy_Ruby_custom_container.html">Customizing and Configuring a Ruby Container</a></li>
    <li><a href="http://docs.amazonwebservices.com/elasticbeanstalk/latest/dg/using-features.loggingS3.title.html">Working with Logs</a></li>

    </ul>
  </div>
</body>
